<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478173080452-g003ij6946gptbmkekh6vt9ovvr3hrta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478173080452-g003ij6946gptbmkekh6vt9ovvr3hrta</string>
	<key>API_KEY</key>
	<string>AIzaSyDHzeKl-wQjIiobtkxMTAqpbe0xvrL-pXg</string>
	<key>GCM_SENDER_ID</key>
	<string>478173080452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eslam.ResturantApp</string>
	<key>PROJECT_ID</key>
	<string>resturantapp-70171</string>
	<key>STORAGE_BUCKET</key>
	<string>resturantapp-70171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478173080452:ios:d55e04d9d482e0cf8d0bd1</string>
</dict>
</plist>